<component name="ArtifactManager">
  <artifact type="war" name="MybatisCase:war">
    <output-path>$PROJECT_DIR$/MybatisCase/target</output-path>
    <root id="archive" name="MybatisCase.war">
      <element id="artifact" artifact-name="MybatisCase:war exploded" />
    </root>
  </artifact>
</component>